.content {
  padding: 0.5rem;
}

.error-page {
  margin: 20px auto 0;
  width: 600px;
}

.error-page > .headline {
  float: left;
  font-size: 100px;
  font-weight: 700;
}

.error-page > .error-content {
  display: block;
  margin-left: 190px;
}

.error-page > .error-content > h3 {
  font-size: 28px;
  font-weight: 500;
}
