<section class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="#">
        <div class="logo_register"><span>Poiesis</span>web</div>
      </a>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="register-box-msg">Únete para compartir contenido</p>

        <form action="#" method="post">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre & Apellidos"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Confirmar contraseña"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input
                  type="checkbox"
                  id="agreeTerms"
                  name="terms"
                  value="agree"
                />
                <label for="agreeTerms">
                  Acepto los <a href="#">términos</a>
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">
                Unirse
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center">
          <p>-- Ó --</p>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fa fa-google-plus mr-2"></i>
            Únete con Google
          </a>
        </div>

        <a routerLink="/login" class="register_link text-center"
          >¿Ya eres miembro? Inicia aquí</a
        >
      </div>
      <!-- /.form-box -->
    </div>
    <!-- /.card -->
  </div>
</section>
