<!-- ============================================================== -->
<!-- Topbar header - estilos principales del Header -->
<!-- ============================================================== -->
<header class="header">
  <div class="header_bar">
    <div class="container">
      <div class="row">
        <div class="col">
          <div
            class="header_bar_content d-flex flex-row align-items-center justify-content-start"
          >
            <div class="sub_button text-center">
              <a href="#">unirse</a>
              <div
                class="d-flex flex-row align-items-start justify-content-start"
              >
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <!--Redes sociales / Topheader-->
            <div class="header_social ml-auto">
              <ul
                class="d-flex flex-row align-items-center justify-content-start"
              >
                <li>
                  <a href="#"
                    ><i class="fa fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-reddit" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-github" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Content -->
  <div class="header_content_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div
            class="header_content d-flex flex-row align-items-center justfy-content-start"
          >
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="logo_container">
              <a href="#">
                <div class="logo"><span>Poiesis</span>web</div>
                <div class="logo_sub">Obras Literarias & Poesía</div>
              </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Publicidad con Google Adsense -->
            <!-- ============================================================== -->
            <div
              class="header_extra ml-auto d-flex flex-row align-items-center justify-content-start"
            >
              <a href="#">
                <div
                  class="background_image"
                  style="background-image: url(../assets/img/extra.jpg)"
                ></div>
                <div class="header_extra_content">
                  <div class="header_extra_title">ahorra 50%</div>
                  <div class="header_extra_subtitle">
                    Compra en nuestras tiendas
                  </div>
                </div>
              </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Publicidad con Google Adsense -->
            <!-- ============================================================== -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- Header Navigation / Navegación Responsive  -->
  <!-- ============================================================== -->
  <div class="header_nav_container" id="header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div
            class="header_nav_content d-flex flex-row align-items-center justify-content-start"
          >
            <!-- Logo -->
            <div class="logo_container">
              <a href="#">
                <div class="logo"><span>Poiesis</span>web</div>
                <div class="logo_sub">Obras Literarias & Poesía</div>
              </a>
            </div>

            <!-- Navigation -->
            <nav class="main_nav">
              <ul
                class="main_nav_list d-flex flex-row align-items-center justify-content-start"
              >
                <li><a href="#">inicio</a></li>
                <li><a href="#">acerca</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">crear</a></li>
                <li><a href="#">unirse</a></li>
                <li><a href="#">contacto</a></li>
              </ul>
            </nav>

            <!-- Buscador -->
            <div class="header_search_container ml-auto">
              <div class="header_search">
                <form
                  action="#"
                  id="header_search_form"
                  class="header_search_form d-flex flex-row align-items-center justfy-content-start"
                >
                  <div>
                    <div class="header_search_activation">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    class="header_search_input"
                    placeholder="Buscar..."
                    required="required"
                  />
                </form>
              </div>
            </div>

            <!-- Nav Toggler Mobile Menu -->
            <div class="hamburger ml-auto menu_mm">
              <i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Header Navigation / Navegación Responsive  -->
  <!-- ============================================================== -->
</header>
<!-- ============================================================== -->
<!-- End Header Top  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Menu Navigation Mobile  -->
<!-- ============================================================== -->
<div
  class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400"
>
  <div class="menu_close_container">
    <div class="menu_close">
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="search">
    <form action="#" class="header_search_form menu_mm">
      <input
        type="search"
        class="search_input menu_mm"
        placeholder="Buscar..."
        required="required"
      />
      <button
        class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm"
      >
        <i class="fa fa-search menu_mm" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <nav class="menu_nav">
    <ul class="menu_mm">
      <li class="menu_mm"><a href="#">Inicio</a></li>
      <li class="menu_mm"><a href="#">Acerca</a></li>
      <li class="menu_mm"><a href="#">Blog</a></li>
      <li class="menu_mm"><a href="#">Crear</a></li>
      <li class="menu_mm"><a href="#">Unirse</a></li>
      <li class="menu_mm"><a href="#">Contacto</a></li>
    </ul>
  </nav>
  <div class="menu_subscribe"><a href="#">Unirse</a></div>
  <div class="menu_extra">
    <div class="menu_social">
      <ul>
        <li>
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-reddit" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
