<div class="super_container">
  <!-- ============================================================== -->
  <!-- Topbar header - estilos principales del Header -->
  <!-- ============================================================== -->
  <header class="header">
    <div class="header_bar">
      <div class="container">
        <div class="row">
          <div class="col">
            <div
              class="header_bar_content d-flex flex-row align-items-center justify-content-start"
            >
              <div class="sub_button text-center">
                <a href="#">unirse</a>
                <div
                  class="d-flex flex-row align-items-start justify-content-start"
                >
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <!--Redes sociales / Topheader-->
              <div class="header_social ml-auto">
                <ul
                  class="d-flex flex-row align-items-center justify-content-start"
                >
                  <li>
                    <a href="#"
                      ><i class="fa fa-instagram" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-reddit" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-github" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Header Content -->
    <div class="header_content_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div
              class="header_content d-flex flex-row align-items-center justfy-content-start"
            >
              <!-- ============================================================== -->
              <!-- Logo -->
              <!-- ============================================================== -->
              <div class="logo_container">
                <a href="#">
                  <div class="logo"><span>Poiesis</span>web</div>
                  <div class="logo_sub">Obras Literarias & Poesía</div>
                </a>
              </div>
              <!-- ============================================================== -->
              <!-- End Logo -->
              <!-- ============================================================== -->

              <!-- ============================================================== -->
              <!-- Publicidad con Google Adsense -->
              <!-- ============================================================== -->
              <div
                class="header_extra ml-auto d-flex flex-row align-items-center justify-content-start"
              >
                <a href="#">
                  <div
                    class="background_image"
                    style="background-image: url(../assets/img/extra.jpg)"
                  ></div>
                  <div class="header_extra_content">
                    <div class="header_extra_title">ahorra 50%</div>
                    <div class="header_extra_subtitle">
                      Compra en nuestras tiendas
                    </div>
                  </div>
                </a>
              </div>
              <!-- ============================================================== -->
              <!-- End Publicidad con Google Adsense -->
              <!-- ============================================================== -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ============================================================== -->
    <!-- Header Navigation / Navegación Responsive  -->
    <!-- ============================================================== -->
    <div class="header_nav_container" id="header">
      <div class="container">
        <div class="row">
          <div class="col">
            <div
              class="header_nav_content d-flex flex-row align-items-center justify-content-start"
            >
              <!-- Logo -->
              <div class="logo_container">
                <a href="#">
                  <div class="logo"><span>Poiesis</span>web</div>
                  <div class="logo_sub">Obras Literarias & Poesía</div>
                </a>
              </div>

              <!-- Navigation -->
              <nav class="main_nav">
                <ul
                  class="main_nav_list d-flex flex-row align-items-center justify-content-start"
                >
                  <li><a href="#">inicio</a></li>
                  <li><a href="#">acerca</a></li>
                  <li><a href="#">blog</a></li>
                  <li><a href="#">crear</a></li>
                  <li><a href="#">unirse</a></li>
                  <li><a href="#">contacto</a></li>
                </ul>
              </nav>

              <!-- Buscador -->
              <div class="header_search_container ml-auto">
                <div class="header_search">
                  <form
                    action="#"
                    id="header_search_form"
                    class="header_search_form d-flex flex-row align-items-center justfy-content-start"
                  >
                    <div>
                      <div class="header_search_activation">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </div>
                    </div>
                    <input
                      type="text"
                      class="header_search_input"
                      placeholder="Buscar..."
                      required="required"
                    />
                  </form>
                </div>
              </div>

              <!-- Nav Toggler Mobile Menu -->
              <div class="hamburger ml-auto menu_mm">
                <i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Header Navigation / Navegación Responsive  -->
    <!-- ============================================================== -->
  </header>
  <!-- ============================================================== -->
  <!-- End Header Top  -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Menu Navigation Mobile  -->
  <!-- ============================================================== -->
  <div
    class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400"
  >
    <div class="menu_close_container">
      <div class="menu_close">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="search">
      <form action="#" class="header_search_form menu_mm">
        <input
          type="search"
          class="search_input menu_mm"
          placeholder="Buscar..."
          required="required"
        />
        <button
          class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm"
        >
          <i class="fa fa-search menu_mm" aria-hidden="true"></i>
        </button>
      </form>
    </div>
    <nav class="menu_nav">
      <ul class="menu_mm">
        <li class="menu_mm"><a href="#">Inicio</a></li>
        <li class="menu_mm"><a href="#">Acerca</a></li>
        <li class="menu_mm"><a href="#">Blog</a></li>
        <li class="menu_mm"><a href="#">Crear</a></li>
        <li class="menu_mm"><a href="#">Unirse</a></li>
        <li class="menu_mm"><a href="#">Contacto</a></li>
      </ul>
    </nav>
    <div class="menu_subscribe"><a href="#">Unirse</a></div>
    <div class="menu_extra">
      <div class="menu_social">
        <ul>
          <li>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-reddit" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- Home Page / Slider -->
  <!-- ============================================================== -->
  <div class="home">
    <!-- Home Slider -->
    <div class="home_slider_container">
      <div class="owl-carousel owl-theme home_slider">
        <!-- Slide -->
        <div class="owl-item home_slider_item">
          <!--Photo by Lisa Fotios from Pexels-->
          <div
            class="background_image"
            style="
              background-image: url(../assets/img/home_slider.jpg);
              filter: grayscale(1);
            "
          ></div>
          <div class="home_slider_content text-center">
            <div
              class="home_slider_content_inner"
              data-animation-in="fadeIn"
              data-animation-out="animate-out fadeOut"
            >
              <div class="home_category"><a href="#">obra del día</a></div>
              <div class="home_title">Tabare</div>
              <div class="home_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus vitae sapien porttitor, dignissim quam sit amet,
                aliquam lorem. Fusce id ligula non risus mollis consectetur...
              </div>
              <div class="home_button trans_200"><a href="#">leer más</a></div>
            </div>
          </div>
        </div>
        <!-- Slide -->
        <div class="owl-item home_slider_item">
          <div
            class="background_image"
            style="
              background-image: url(../assets/img/home_slider.jpg);
              filter: grayscale(1);
            "
          ></div>
          <div class="home_slider_content text-center">
            <div
              class="home_slider_content_inner"
              data-animation-in="fadeIn"
              data-animation-out="animate-out fadeOut"
            >
              <div class="home_category"><a href="#">obra del día</a></div>
              <div class="home_title">Cantando al Sol</div>
              <div class="home_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus vitae sapien porttitor, dignissim quam sit amet,
                aliquam lorem. Fusce id ligula non risus mollis consectetur...
              </div>
              <div class="home_button trans_200"><a href="#">leer más</a></div>
            </div>
          </div>
        </div>
        <!-- Slide -->
        <div class="owl-item home_slider_item">
          <div
            class="background_image"
            style="
              background-image: url(../assets/img/home_slider.jpg);
              filter: grayscale(1);
            "
          ></div>
          <div class="home_slider_content text-center">
            <div
              class="home_slider_content_inner"
              data-animation-in="fadeIn"
              data-animation-out="animate-out fadeOut"
            >
              <div class="home_category"><a href="#">obra del día</a></div>
              <div class="home_title">Letrillas</div>
              <div class="home_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus vitae sapien porttitor, dignissim quam sit amet,
                aliquam lorem. Fusce id ligula non risus mollis consectetur...
              </div>
              <div class="home_button trans_200"><a href="#">leer más</a></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Home Slider Navigation -->
      <div class="home_slider_nav home_slider_prev trans_200">
        <i class="fa fa-angle-left trans_200" aria-hidden="true"></i>
      </div>
      <div class="home_slider_nav home_slider_next trans_200">
        <i class="fa fa-angle-right trans_200" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Home Page / Slider -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Introduction Tags -->
  <!-- ============================================================== -->
  <div class="intro">
    <div class="container">
      <div class="row">
        <!-- Intro Item -->
        <div class="col-md-4 intro_col">
          <div class="intro_item">
            <img src="../assets/img/intro_1.jpg" alt="" />
            <div class="intro_content trans_200">
              <a href="#">cultura</a>
            </div>
          </div>
        </div>

        <!-- Intro Item -->
        <div class="col-md-4 intro_col">
          <div class="intro_item">
            <img src="../assets/img/intro_2.jpg" alt="" />
            <div class="intro_content trans_200"><a href="#">poesía</a></div>
          </div>
        </div>

        <!-- Intro Item -->
        <div class="col-md-4 intro_col">
          <div class="intro_item">
            <img src="../assets/img/intro_3.jpg" alt="" />
            <div class="intro_content trans_200"><a href="#">historia</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Introduction Tags -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Contenido Destacado -->
  <!-- ============================================================== -->
  <div class="content_container">
    <!-- Destacado Title -->
    <div class="featured_title">
      <div class="container">
        <div class="row">
          <div class="col">
            <div
              class="section_title_container d-flex flex-row align-items-start justify-content-start"
            >
              <div>
                <div class="section_title">Publicaciones Destacadas</div>
                <div class="section_subtitle">
                  Publicaciones seleccionados para ti
                </div>
              </div>
              <div class="section_bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- Main Content -->

        <div class="col-lg-9">
          <div class="main_content">
            <!-- Featured -->

            <div class="featured">
              <div class="row">
                <div class="col-lg-8">
                  <!-- Post -->
                  <div
                    class="post_item post_v_large d-flex flex-column align-items-start justify-content-start"
                  >
                    <div class="post_image">
                      <img src="../assets/img/post_1.jpg" alt="" />
                    </div>
                    <div class="post_content">
                      <div class="post_category cat_technology">
                        <a href="#">cultura</a>
                      </div>
                      <div class="post_title">
                        <a href="#"
                          >6 libros de autoras colombianas recomendadas</a
                        >
                      </div>
                      <div
                        class="post_info d-flex flex-row align-items-center justify-content-start"
                      >
                        <div
                          class="post_author d-flex flex-row align-items-center justify-content-start"
                        >
                          <div>
                            <div class="post_author_image">
                              <img src="../assets/img/author_1.jpg" alt="" />
                            </div>
                          </div>
                          <div class="post_author_name">
                            <a href="#">Miguel Martinez</a>
                          </div>
                        </div>
                        <div class="post_date">
                          <a href="#">29 de Abril del 2020</a>
                        </div>
                        <div class="post_comments ml-auto">
                          <a href="#">3 comentarios</a>
                        </div>
                      </div>
                      <div class="post_text">
                        <p>
                          Curabitur venenatis efficitur lorem sed tempor.
                          Integer aliquet tempor cursus. Nullam vestibulum
                          convallis risus vel condimentum. Nullam auctor lorem
                          in libero luctus, vel volutpat quam tincidunt. Nullam
                          vestibulum convallis risus vel condimentum. Nullam
                          auctor lorem in libero.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <!-- Post -->
                  <div
                    class="post_item post_v_small d-flex flex-column align-items-start justify-content-start"
                  >
                    <div class="post_image">
                      <img src="../assets/img/post_2.jpg" alt="" />
                    </div>
                    <div class="post_content">
                      <div class="post_category cat_world">
                        <a href="#">historia</a>
                      </div>
                      <div class="post_title">
                        <a href="#">La historia del autor George R.R. Martin</a>
                      </div>
                      <div
                        class="post_info d-flex flex-row align-items-center justify-content-start"
                      >
                        <div
                          class="post_author d-flex flex-row align-items-center justify-content-start"
                        >
                          <div>
                            <div class="post_author_image">
                              <img src="../assets/img/author_1.jpg" alt="" />
                            </div>
                          </div>
                          <div class="post_author_name">
                            <a href="#">Sam Hernandez</a>
                          </div>
                        </div>
                        <div class="post_date">
                          <a href="#">29 de Julio del 2020</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Post -->
                  <div
                    class="post_item post_v_small d-flex flex-column align-items-start justify-content-start"
                  >
                    <div class="post_image">
                      <img
                        src="../assets/img/post_3.jpg"
                        alt="https://unsplash.com/@agkdesign"
                      />
                    </div>
                    <div class="post_content">
                      <div class="post_category cat_world">
                        <a href="#">historia</a>
                      </div>
                      <div class="post_title">
                        <a href="#">El futuro aterrador</a>
                      </div>
                      <div
                        class="post_info d-flex flex-row align-items-center justify-content-start"
                      >
                        <div
                          class="post_author d-flex flex-row align-items-center justify-content-start"
                        >
                          <div>
                            <div class="post_author_image">
                              <img src="../assets/img/author_1.jpg" alt="" />
                            </div>
                          </div>
                          <div class="post_author_name">
                            <a href="#">Sam Hernandez</a>
                          </div>
                        </div>
                        <div class="post_date">
                          <a href="#">29 de Agosto del 2020</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Poems -->

            <div class="technology">
              <div
                class="section_title_container d-flex flex-row align-items-start justify-content-start"
              >
                <div>
                  <div class="section_title">Poesía & Más</div>
                </div>
                <div class="section_bar"></div>
              </div>
              <div class="technology_content">
                <!-- Post -->
                <div class="post_item post_h_large">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="post_image">
                        <img
                          src="../assets/img/post_h_1.jpg"
                          alt="https://unsplash.com/@jmckinven"
                        />
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="post_content">
                        <div class="post_category cat_technology">
                          <a href="#">poesía</a>
                        </div>
                        <div class="post_title">
                          <a href="#">12 poemas dedicados a los gatos</a>
                        </div>
                        <div
                          class="post_info d-flex flex-row align-items-center justify-content-start"
                        >
                          <div
                            class="post_author d-flex flex-row align-items-center justify-content-start"
                          >
                            <div>
                              <div class="post_author_image">
                                <img src="../assets/img/author_1.jpg" alt="" />
                              </div>
                            </div>
                            <div class="post_author_name">
                              <a href="#">Michael Smith</a>
                            </div>
                          </div>
                          <div class="post_date">
                            <a href="#">hace un día</a>
                          </div>
                          <div class="post_comments ml-auto">
                            <a href="#">3 comentarios</a>
                          </div>
                        </div>
                        <div class="post_text">
                          <p>
                            Curabitur venenatis efficitur lorem sed tempor.
                            Integer aliquet tempor cursus. Nullam vestibulum
                            convallis risus vel condimentum. Nullam auctor lorem
                            in libero luctus, vel volutpat quam tincidunt.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Post -->
                <div class="post_item post_h_large">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="post_image">
                        <img
                          src="../assets/img/post_h_1.jpg"
                          alt="https://unsplash.com/@jmckinven"
                        />
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="post_content">
                        <div class="post_category cat_technology">
                          <a href="#">poesía</a>
                        </div>
                        <div class="post_title">
                          <a href="#">12 poemas dedicados a los gatos</a>
                        </div>
                        <div
                          class="post_info d-flex flex-row align-items-center justify-content-start"
                        >
                          <div
                            class="post_author d-flex flex-row align-items-center justify-content-start"
                          >
                            <div>
                              <div class="post_author_image">
                                <img src="../assets/img/author_1.jpg" alt="" />
                              </div>
                            </div>
                            <div class="post_author_name">
                              <a href="#">Michael Smith</a>
                            </div>
                          </div>
                          <div class="post_date">
                            <a href="#">hace un día</a>
                          </div>
                          <div class="post_comments ml-auto">
                            <a href="#">3 comentarios</a>
                          </div>
                        </div>
                        <div class="post_text">
                          <p>
                            Curabitur venenatis efficitur lorem sed tempor.
                            Integer aliquet tempor cursus. Nullam vestibulum
                            convallis risus vel condimentum. Nullam auctor lorem
                            in libero luctus, vel volutpat quam tincidunt.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Post -->
                <div class="post_item post_h_large">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="post_image">
                        <img
                          src="../assets/img/post_h_1.jpg"
                          alt="https://unsplash.com/@jmckinven"
                        />
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="post_content">
                        <div class="post_category cat_technology">
                          <a href="#">poesía</a>
                        </div>
                        <div class="post_title">
                          <a href="#">12 poemas dedicados a los gatos</a>
                        </div>
                        <div
                          class="post_info d-flex flex-row align-items-center justify-content-start"
                        >
                          <div
                            class="post_author d-flex flex-row align-items-center justify-content-start"
                          >
                            <div>
                              <div class="post_author_image">
                                <img src="../assets/img/author_1.jpg" alt="" />
                              </div>
                            </div>
                            <div class="post_author_name">
                              <a href="#">Michael Smith</a>
                            </div>
                          </div>
                          <div class="post_date">
                            <a href="#">hace un día</a>
                          </div>
                          <div class="post_comments ml-auto">
                            <a href="#">3 comentarios</a>
                          </div>
                        </div>
                        <div class="post_text">
                          <p>
                            Curabitur venenatis efficitur lorem sed tempor.
                            Integer aliquet tempor cursus. Nullam vestibulum
                            convallis risus vel condimentum. Nullam auctor lorem
                            in libero luctus, vel volutpat quam tincidunt.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <div class="col-lg-3">
          <div class="sidebar">
            <!-- Newsletter -->
            <div class="sidebar_newsletter">
              <div class="sidebar_title">Suscríbete al newsletter</div>
              <form action="#" id="newsletter_form" class="newsletter_form">
                <input
                  type="email"
                  class="newsletter_input"
                  placeholder="Ingresa tu email"
                  required="required"
                />
                <button class="newsletter_button">suscribirse</button>
              </form>
            </div>

            <!-- Extra anuncio -->
            <div class="sidebar_extra">
              <a href="#">
                <div class="sidebar_title">Advertisement</div>
                <div class="sidebar_extra_container">
                  <div
                    class="background_image"
                    style="background-image: url(../assets/img/extra_1.jpg)"
                  ></div>
                  <div class="sidebar_extra_content">
                    <div class="sidebar_extra_title">30%</div>
                    <div class="sidebar_extra_title">de</div>
                    <div class="sidebar_extra_subtitle">
                      Descuento en Tiendas
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <!-- Latest Posts -->
            <div class="sidebar_latest">
              <div class="sidebar_title">Publicaciones Recientes</div>
              <div class="latest_posts">
                <!-- Latest Post -->
                <div
                  class="latest_post d-flex flex-row align-items-start justify-content-start"
                >
                  <div>
                    <div class="latest_post_image">
                      <img src="../assets/img/latest_1.jpg" alt="" />
                    </div>
                  </div>
                  <div class="latest_post_content">
                    <div class="post_category_small cat_video">
                      <a href="#">poesía</a>
                    </div>
                    <div class="latest_post_title">
                      <a href="#">12 poemas dedicados a los gatos</a>
                    </div>
                    <div class="latest_post_date">Marzo 12, 2020</div>
                  </div>
                </div>

                <!-- Latest Post -->
                <div
                  class="latest_post d-flex flex-row align-items-start justify-content-start"
                >
                  <div>
                    <div class="latest_post_image">
                      <img src="../assets/img/latest_2.jpg" alt="" />
                    </div>
                  </div>
                  <div class="latest_post_content">
                    <div class="post_category_small cat_world">
                      <a href="#">historia</a>
                    </div>
                    <div class="latest_post_title">
                      <a href="#">El futuro aterrador</a>
                    </div>
                    <div class="latest_post_date">Marzo 12, 2020</div>
                  </div>
                </div>

                <!-- Latest Post -->
                <div
                  class="latest_post d-flex flex-row align-items-start justify-content-start"
                >
                  <div>
                    <div class="latest_post_image">
                      <img src="../assets/img/latest_3.jpg" alt="" />
                    </div>
                  </div>
                  <div class="latest_post_content">
                    <div class="post_category_small cat_technology">
                      <a href="#">cultura</a>
                    </div>
                    <div class="latest_post_title">
                      <a href="#">New tech development</a>
                    </div>
                    <div class="latest_post_date">March 12, 2018</div>
                  </div>
                </div>

                <!-- Latest Post -->
                <div
                  class="latest_post d-flex flex-row align-items-start justify-content-start"
                >
                  <div>
                    <div class="latest_post_image">
                      <img src="../assets/img/latest_4.jpg" alt="" />
                    </div>
                  </div>
                  <div class="latest_post_content">
                    <div class="post_category_small cat_technology">
                      <a href="#">cultura</a>
                    </div>
                    <div class="latest_post_title">
                      <a href="#">New tech development</a>
                    </div>
                    <div class="latest_post_date">March 12, 2018</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Extra anuncio -->
            <div class="sidebar_extra">
              <a href="#">
                <div class="sidebar_title">Advertisement</div>
                <div class="sidebar_extra_container">
                  <div
                    class="background_image"
                    style="background-image: url(../assets/img/extra_2.jpg)"
                  ></div>
                  <div class="sidebar_extra_content">
                    <div class="sidebar_extra_title">30%</div>
                    <div class="sidebar_extra_title">de</div>
                    <div class="sidebar_extra_subtitle">
                      Descuento en Tiendas
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Right Sidebar -->
        <!-- ============================================================== -->
      </div>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- Footer -->
  <!-- ============================================================== -->
  <footer class="footer">
    <div class="footer_social">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <ul
              class="footer_social_list d-flex flex-row align-items-center justify-content-center"
            >
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-reddit" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_content">
      <!--Photo by Kaboompics .com from Pexels-->
      <div
        class="parallax_background parallax-window"
        data-parallax="scroll"
        data-image-src="../assets/img/footer.jpg"
        data-speed="0.8"
      ></div>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="logo_container">
              <a href="#">
                <div class="logo"><span>Poiesis</span>web</div>
              </a>
            </div>
            <div class="footer_nav_container text-center">
              <nav class="footer_nav">
                <ul
                  class="footer_nav_list d-flex flex-md-row flex-column align-items-center justify-content-start"
                >
                  <li><a href="#">inicio</a></li>
                  <li><a href="#">acerca</a></li>
                  <li><a href="#">blog</a></li>
                  <li><a href="#">crear</a></li>
                  <li><a href="#">unirse</a></li>
                  <li><a href="#">contacto</a></li>
                </ul>
              </nav>
            </div>
            <div class="copyright">
              Copyright &copy; 2020 All rights reserved | Desarrollado
              <i class="fa fa-star" aria-hidden="true"></i> por
              <a href="#" target="_blank">SamStudios</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ============================================================== -->
  <!-- End Footer -->
  <!-- ============================================================== -->
</div>
