<!-- ============================================================== -->
<!-- Footer -->
<!-- ============================================================== -->
<footer class="footer">
  <div class="footer_social">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <ul
            class="footer_social_list d-flex flex-row align-items-center justify-content-center"
          >
            <li>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-reddit" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_content">
    <!--Photo by Kaboompics .com from Pexels-->
    <div
      class="parallax_background parallax-window"
      data-parallax="scroll"
      data-image-src="../assets/img/footer.jpg"
      data-speed="0.8"
    ></div>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="logo_container">
            <a href="#">
              <div class="logo"><span>Poiesis</span>web</div>
            </a>
          </div>
          <div class="footer_nav_container text-center">
            <nav class="footer_nav">
              <ul
                class="footer_nav_list d-flex flex-md-row flex-column align-items-center justify-content-start"
              >
                <li><a href="#">inicio</a></li>
                <li><a href="#">acerca</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">crear</a></li>
                <li><a href="#">unirse</a></li>
                <li><a href="#">contacto</a></li>
              </ul>
            </nav>
          </div>
          <div class="copyright">
            Copyright &copy; 2020 All rights reserved | Desarrollado
            <i class="fa fa-star" aria-hidden="true"></i> por
            <a href="#" target="_blank">SamStudios</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ============================================================== -->
<!-- End Footer -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Scroll Up / To Top -->
<!-- ============================================================== -->
<a href="#" class="back-to-top"><i class="fa fa-level-up"></i></a>
